/* Sfondo fisso */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./Assets/Test-Gallery.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Sotto tutto */
}

.gallery {
    position: relative;
    height: 100vh;
    /*overflow-y: scroll;*/
}

.header-gallery {
    position: fixed;
    display: flex;
    gap: 4vw;
    top: 0;
    left: 0;
    width: 100vw;
    height: 26vh;
    z-index: 2; /* Si assicura che sia sopra la griglia */
    background-color: transparent; /* Trasparente per mostrare lo sfondo */
    /* Se necessario, puoi usare il backdrop-filter per effetti come blur */
    /* backdrop-filter: brightness(0.5); */
}

.area-intervento-gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    flex-shrink: 0;
    margin-top: 20vh;
}

.logo {
    margin-left: 107px;
    margin-top: 100px;
    height: 14vh;
    width: auto;
}

.grid-gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne */
    gap: 50px;
    margin: 25vh 4vw 10vh 17.4vw;
    padding: 30vh 0; /* Spazio per lasciare visibile l'header */
    z-index: 0; /* Sotto l'header */
    transition: transform 0.3s ease;
    width: calc(70vw + 50px);
}

.grid-item {
    border: 21px solid rgba(255, 255, 255, 0.5); /* Bordo traslucido */
    border-radius: 0;
    text-align: center;
    width: 35vw;
    height: 30vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-clip: border-box;
    transition: clip-path 10s ease;
    background-origin: border-box;
}

.grid-item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    color: white;
}
