/* Sfondo fisso */
.background-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    z-index: -3; /* Sotto tutto */
}

.diagonale-cubi-img{
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("./Assets/IMG-DiagonaleCubi.webp");
    background-repeat: no-repeat;
    z-index: -2; /* Sotto tutto */
    height: 470px;
    width: 100vw;
}

.container {
    position: relative;
    height: 100vh;
}

.header {
    position: fixed;
    display: flex;
    gap: 39px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 260px;
    z-index: 2;
    background-color: transparent;
}

.box-titolo-torna-gallery{
    display: flex;
    justify-content: space-between;
    width: 78%;
}

.box-titolo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    gap: 1vw;
    flex-shrink: 0;
    margin-top: 196px;
    width: auto;
}

.titolo{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    margin-top: 5px;
}

.torna-gallery{
    margin-top: 202px;
    color: rgb(198,199,200);
    text-decoration: none;
    opacity: 0.7;
}

.torna-gallery:hover{
    color: white;
    opacity: 1;
    text-decoration: underline;
}


.box-nav-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 18px;
    gap: 2vw;
    flex-shrink: 0;
    margin-top: 196px;
    width: 77%;
}

.link-gallery{
    margin-top: 5px;
    text-decoration: none;
    color: rgb(198,199,200);
    opacity: 0.6;
}

.link-gallery:hover {
    text-decoration: underline;
    color: white;
    opacity:1;
}

.active{
    text-decoration: underline;
    color: white;
    opacity:1;

}

.logo {
    margin-left: 102px;
    margin-top: 100px;
    height: 140px;
    width: 140px;
}

.grid-gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne */
    gap: 50px;
    margin: 300px 4vw 0 278px;
    /*padding-bottom: 10vh;*/
    padding:0 0 10vh 0; /* Spazio per lasciare visibile l'header */
    z-index: 0; /* Sotto l'header */
    /*transition: transform 0.3s ease;*/
    width: calc(70vw + 50px);
}

.grid-item {
    border: 21px solid rgba(255, 255, 255, 0.5); /* Bordo traslucido */
    border-radius: 0;
    text-align: center;
    width: 35vw;
    height: 30vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-clip: border-box;
    background-origin: border-box;
    cursor: pointer;
    text-decoration:none;
}

.grid-item:hover div{
    color:white;
    font-size: 20px;
    transition: font-size 0.5s ease-in-out;
}

.grid-item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    color: rgb(198,199,200);
    margin:0 0 0 2vw;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration:none;
}

.box-detail-lavoro{
    margin: 300px 4vw 0 278px;
}

.testo-detail-lavoro{
    text-align: left;
}

.img-detail-lavoro{
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 10vh;
}



